@import './base.css';

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: linear-gradient(135deg, #5D3A9B, #7c3aed);
  transition: 0.4s;
}
